---
import Section from "../Section.astro";
import Article from "@app/components/ExperienceArticle.astro";
import  CV from "@cv";
import { obtenerFechaActualISO, MONTHS } from "@app/utils/DateFormat";
// i18n
import { useTranslations } from '@app/i18n/utils'

const { education } = CV
const t = useTranslations('en')

---

<Section title={t('section.education')} hoverColor="red">
    <ul>
        {
            education.map(({area, summary, startDate, endDate, institution}) => {
                const startSplit = startDate?.split('-')
                const endDateSplit = endDate?.split('-') ?? obtenerFechaActualISO().split('-')
                startDate = `${startSplit[0]}/${MONTHS[startSplit[1]]}`
                endDate = `${endDateSplit[0]}/${MONTHS[endDateSplit[1]]}`
                return (
                    <li>
                        <Article
                            name={area}
                            position={institution}
                            startDate={startDate}
                            endDate={endDate}
                            summary={summary}
                        >
                        </Article>
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul{
        padding: 0;
    }
</style>