---
import { basics } from "@app/resources/cv.json";

//components
import Section from "../Section.astro";
import Title from "@app/components/Title.astro"
import Subtitle from "@app/components/SubTitle.astro"
import SunMoon from "@app/components/icons/ThemeIcon.astro";

const {name, label, image, location, profiles, phone, email} = basics

const ICONS : Record<string, any> = {
    'GitHub': '🐙',
    'LinkedIn' : '👨🏻‍🦱'
}
---

<Section>
    <div class="themeIcon">
        <SunMoon>
        </SunMoon>
    </div>
    <div class="hero-container">
        <div class="header-info">
            <h1 class="name">{name}</h1>
            <Subtitle>{label}</Subtitle>
            <span> 🌐 {location.city}, {location.region}</span>
            <footer>
                {
                    email && ( 
                            <a href={`mailto:${email}`} title={`Send a email to ${name} at ${email}`} target="_blank" rel="noopener noreferrer">📧</a>
                        )
                }
                {
                    phone && (
                    <a href={`tel:${phone}`} title={`call ${name} at ${phone}`} target="_blank" rel="noopener noreferrer">📱</a>
                    )
                }
                {
                    profiles.map(({network, url, show}) => {
                        const icon = ICONS[network] ?? '❤️'

                        return(
                            <a href={url} title={`${network} - ${name} `} target="_blank" rel="noopener noreferrer">{icon}</a>
                        )
                    })
                }
            </footer>
        </div>
        <figure>
            <img src={image} alt={`${name}`} width="200"/>
        </figure>
    </div>
</Section>

<style lang="scss">

    .hero-container{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .name{
        color: black;
        font-size: 2rem;
        line-height: 1.2;
    }

    :global(.dark) .name{
        color: aliceblue;
    }
    span{
        color: grey;
    }

    img{
        position: absolute;
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 200px;
        border-radius: 10px;
    }

    figure{
        display: flex;
        justify-content: center;
    }

    footer{
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        width: 120px;
        gap: 4px;
        justify-content: space-between;

        a{
            justify-content: center;
        }
    }

    .themeIcon{
        display: flex;
        position: absolute;
        top: 0;
        padding: 1rem 0 0 0;
        cursor: pointer;
    }
    
    @media print{
        .name{
            color: black !important;
        }       
    }
</style>

