---
import { basics } from "@app/resources/cv.json";

//components
import Section from "../Section.astro";
import Subtitle from "@app/components/SubTitle.astro"
import ThemeIcon from "@app/components/icons/ThemeIcon.astro";
import PrintIcon from "@app/components/icons/PrintIcon.astro";

const {name, label, image, location, profiles, telegram, email} = basics

const ICONS : Record<string, any> = {
    'GitHub': '🐙',
    'LinkedIn' : '👨🏻‍🦱'
}
---

<Section>
    <div class="themeIcon">
        <ThemeIcon label="Change theme aspect"></ThemeIcon>
        <PrintIcon label="Print CV"></PrintIcon>
        <span> ⬅️ Click here </span>
    </div>
    <div class="hero-container">
        <div class="header-info">
            <h1 class="name">{name}</h1>
            <Subtitle>{label}</Subtitle>
            <span> 🌐 {location.city}, {location.region}</span>
            <footer>
                <div class="icons">
                    {
                        email && ( 
                                <a href={`mailto:${email}`} title={`Send a email to ${name} at ${email}`} target="_blank" rel="noopener noreferrer">📧</a>
                            )
                    }
                    {
                        telegram && (
                        <a href={telegram} title={`telegram from ${name}`} target="_blank" rel="noopener noreferrer">📱</a>
                        )
                    }
                    {
                        profiles.map(({network, url}) => {
                            const icon = ICONS[network] ?? '❤️'
    
                            return(
                                <a href={url} title={`${network} - ${name} `} target="_blank" rel="noopener noreferrer">{icon}</a>
                            )
                        })
                    }
                </div>
                <div class="print">
                    {
                        email && <p>{email}</p>
                    }
                    {
                        profiles.map(({url}) => {
                            if(url.includes('linkedin')) 
                                return(
                                    <p>{url}</p>
                                )
                        })
                    }
                </div>
            </footer>
        </div>
        <figure>
            <img src={image} alt={`${name}`} width="200"/>
        </figure>
    </div>
</Section>

<style lang="scss">

    .hero-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .name{
        color: black;
        font-size: 2rem;
        line-height: 1.2;
    }

    :global(.dark){
        .name{
            color: aliceblue;
        }
        span{
            color: rgb(207, 207, 207);
        }
    } 
    span{
        color: grey;
    }

    img{
        position: absolute;
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 200px;
        border-radius: 10px;
    }

    figure{
        display: flex;
        justify-content: center;
    }

    footer .icons{
        display: flex;
        padding: .5rem 0;
        width: 120px;
        justify-content: space-between;
        font-size: 1.3rem;
        gap: 10px;

        a{
            justify-content: center;
        }
    }

    footer{
        .print{
            margin-top: .5rem;
            display: none;
        }
    }

    .themeIcon{
        display: flex;
        position: absolute;
        align-items: center;
        top: 0;
        padding: 1rem 0 0 0;
        cursor: pointer;

        span{
            margin-left: 1rem;
        }
    }

    @media only screen and (max-width: 600px){
        .hero-container{
            display: grid;
            grid-template-columns: 55% 45%;
        }

        .name{
            font-size: 1.5rem;
        }

        img{
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 125px;
            border-radius: 10px;
        }

        footer .icons{
            gap: 1vw;
        }
    }

    @media only screen and (max-width: 441px){
        figure{
            justify-content: end;
        }

        .themeIcon{
            justify-self: end;
        }

    }
    
    @media print{
        .name{
            color: black !important;
        }       

        .themeIcon{
            display: none;
        }

        footer{
            .print{
                display: block;
            }
            .icons{
                display: none;
            }
        }
    }
</style>

