---
import Section from "@app/components/Section.astro";
import Skill from "@app/components/Skill.astro";
import CV from "@cv";

const {skills} = CV
---

<Section title="Skills" hoverColor="green" hideSectionOnPrint = {true}>
    <div class="skillContainer">
        {
            skills.map(({name, color, darkColor, fontColorDark})=>{
                return(
                <Skill
                    lightColor={color}
                    darkColor={darkColor}
                    fontColorDark={fontColorDark || ''} 
                >
                    {name}
                </Skill>
                )
            })
        }
    </div>
 
</Section>

<style>
    .skillContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
</style>