---
import { FONT_COLORS } from "@app/utils/Colors";
import SkillsGrid from "@app/components/SkillsGrid.astro";

import { skills as cvSkills } from "@cv";

const {name, position, startDate, endDate, summary, skills} = Astro.props;

const expSkills = skills?.map((skill : string) => {
        return cvSkills.filter( cvSkill => {
            return cvSkill?.iconKey?.includes(skill)
        })[0] ?? {}
    }) ?? []
---

<article>
    <header>
        <div>
            <h3>{name}</h3>
            <h4>{position}</h4>
        </div>
        <span>{`${startDate} - ${endDate}`}</span>
    </header>
    <p>{summary}</p>
    <SkillsGrid skills={expSkills}>
    </SkillsGrid>
</article>

<style lang="scss" define:vars={{lightSub: FONT_COLORS.subtitle.light, darkSub: FONT_COLORS.subtitle.dark}}>
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0.5rem;
    }

    article{
        margin-bottom: 1rem;
    }

    span{
        padding: 0px 1rem 0px 0px;
        display: flex;
        justify-content: end;
        color: #454545;
    }

    h3{
        color: #2c2c2c;
    }

    h4{
        color: var(--lightSub);
        font-size: .9rem;
    }

    p{
        font-size: .8rem;
    }

    :global(.dark){
            h3{
                color: rgb(255, 255, 255);
            }
            
            h4{
                color: var(--darkSub);
                font-size: .9rem;
            }
            span{
                color: rgb(220, 219, 219);
            }
        }

    @media only screen and (max-width: 600px){
        span{
            font-size: .9rem;
        }
    }

    @media print{
        header{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 0.5rem;
        }

        article{
            margin-bottom: 1rem;
        }

        span{
            color: #454545 !important;
        }

        h3{
            color: #2c2c2c !important;
        }

        h4{
            color: #949494 !important;
        }

        p{
            font-size: .8rem;
        }
    }
</style>